bleach==1.5.0
Django==1.11.15
django-classy-tags==0.8.0
django-extensions==2.1.2
django-mptt==0.8.7
django-nyt==1.0
django-sekizai==0.10.0
django-taggit==0.23.0
django-widget-tweaks==1.4.3
html5lib==0.9999999
Markdown==2.6.11
Pillow==5.2.0
pygraphviz==1.5
pytz==2018.5
six==1.11.0
sorl-thumbnail==12.5.0
typing==3.6.6
wiki==0.3.1
